.material-icons {
    text-align: start;
    /* margin: 11px; */
    margin-top: 1.5%;
    color: rosybrown;
    margin-left: 2%;
}

.title{
    font-weight: bold;
}

.notification-content-container{
    display: flex;
    padding:5px;
    border-radius: 4px;
    border-left: solid rosybrown;
}

.title-text-url-container{
    display: flex;
    flex-flow: column;
    margin-left: 3%;
    width: 75%;
}

.notification-text-link-close-container{
    display: flex;
    flex-flow: row;
    
}

.external-link{
    margin-left: 6%;

}

a {
    color:rosybrown;
    text-decoration: underline;
}

.close-button{
    margin-left: 9%;
    cursor: pointer;
}

